.footer{
    display: flex;
    flex-direction: column;

}

.footer hr{
    color: aliceblue;
    margin-bottom: 30px;
}

.Footer-container{
    display: flex;
    justify-content: center;
    text-align: center;
}