*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background: rgba(0, 0, 0, 0.87);
    color: white;
    font-family: "outfit";
}

.Head-Title{
    font-size: 42px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 95%;
    justify-self: center;
    top: 30px;
}

.nav-menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 50px;
    font-size: 17px;
    
}


.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #3b8b0c 0.36%, #edff47 102.0%);
    cursor: pointer;
    transition: 0.2s;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.nav-menu li{
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.nav-menu li:hover{
    transform: scale(1.07);
    background: linear-gradient(267deg, #3b6621 0.36%, #ebf57e 102.0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#nav-menu-id{
    display: flex;
    align-self: center;
    margin-top: 4px;
    width: 20px;
    height: 2px;
    transform: scale(1.07);
}

.anchor-link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    align-self: center;
    
}